
# Customised / private credentials / configuration lives in private directory

private


# Ansible log / run files

*.retry
.cache
deploy/potential_ssh_config.tmp
*ssh_auto_generated.cfg

# IDEs etc
.vscode
