[submodule "ansible"]
	path = deploy/ansible
	url = https://github.com/ansible/ansible.git
[submodule "lib/ABElectronics_Python3_Libraries"]
	path = lib/ABElectronics_Python3_Libraries
	url = https://github.com/abelectronicsuk/ABElectronics_Python3_Libraries.git
